.admin-side-bar-container {
  align-items: flex-start;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
}

.admin-side-bar-header {
  color: white;
  font-size: 30px;
  height: 5vh;
  width: 100%;
}

.admin-side-bar-mid button {
  background-color: black;
  border: white 1px solid;
  color: white;
  font-size: 30px;
  margin-top: 3%;
  width: 100%;
}

.admin-side-bar-bot button {
  align-self: flex-end;
  background-color: black;
  border: white 1px solid;
  color: white;
  font-size: 30px;
  width: 100%;
}

.admin-side-bar-mid {
  height: 45vh;
  margin-top: 20%;
  width: 100%;
}

.admin-side-bar-bot {
  display: flex;
  height: 50vh;
  margin-bottom: 20%;
  width: 100%;
}
