.add-remove-btns-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.add-btn-container, .remove-btn-container {
  margin: 0 15px;
}

.add-btn, .remove-btn {
  width: 25px;
  height: 25px;
}
