.add-remove-btns-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 50%;
}

.add-btn-container , .remove-btn-container {
  margin: 0 15px;
}

.add-btn , .remove-btn {
  height: 25px;
  width: 25px;
}
