.card-details-container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.card-details-top-container {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
}

.card-details-mid-container {
  border: black 2px solid;
  display: flex;
  justify-content: space-between;
  margin: 1% 5%;
  padding: 0 2%;
}

.card-details-bot-container {
  display: flex;
  justify-content: flex-end;
  margin: 2% 5%;
}
