.product-card-container {
  outline: 1px solid black;
  max-height: 100%;
}

.product-card-container, .product-content-container  {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.product-content-container {
  max-height: 80%;
  justify-content: space-around;

}

.add-remove-btns-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 5px;
  width: 100%;
}

.product-price-container {
  font-weight: 800;
  left: -25%;
  position: relative;
  top: -85%;
}

.image-container {
  margin: 20px 0 0 0;
  max-height: 70%;
}


.product-image {
  max-height: 100%;
}
