.products-container {
  display: flex;
  flex-flow: row wrap;
  padding: 15%;
  max-width: 90%;
}

.product-card {
  margin: 0.3em;
  display: flex;
  flex-flow: column nowrap;
  min-height: 150px;
  max-height: 150px;
  max-width: 45%;
  outline: 1px solid black;
}
